body {
  min-height: 2000px;
}

a {
  text-decoration: none;
}

section {
  padding-top: 5rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(243, 182, 126);
}

#pricelist {
  background-color: rgb(243, 182, 126);
}
